.container2{
    background: #fff;
    max-width: 1000px;
    justify-items: center;
    margin: 0 auto;
}

.container2-item{
    width: 85%;
    margin: 0 auto;
}


.container2-item p{
    margin: .75rem auto 0 auto;
}

@media only screen and (max-width: 550px) {
    .container2-item {
        width: 85%;
        margin: 0 auto;
        margin-left: 1rem;
    }

    .container2 h3 {
        font-size: .85rem;
    }

    .benefits{
        font-size: 1.25rem;
    }

    .container2-item p,
    .benefits-items {
        font-size: .75rem;
    }
}