* {
    margin: 0;
    padding: 0;
    
}

a {
    text-decoration: none;
    max-width: 100%;
}

.service-card{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow: hidden;
}

.service-card img {
    max-width: 100%;
    height: 200px;
    overflow: hidden;
    max-height: 175px;
}

.service-card:hover{
    transform: scale(1.05);
    transition: ease-in-out 500ms;
    
}

.text{
    border: 2px solid #d7d7d7;
    border-top: transparent;
    height: 75px;
    color: #283c86;
    max-width: 100%;
  
}

.title{
    padding: 1em;
    font-size: 14px;
    font-weight: 600;
}

@media only screen and (max-width: 900px) {
    .service-card img {
        height: 175px;
    }
}

@media only screen and (max-width: 500px) {
    .service-card img {
        max-height: 85px;
    }

    .text{
        height: 50px;
    }

    .title{
        font-size: .5rem;
    }
}

@media only screen and (min-width: 1500px) {
    .service-card img {
        max-height: 150px;
    }
}