
.services-container{
    margin-bottom: 15vh;
}

a{
    text-decoration: none;
    color: #1a2a6c;
}

.services-hero{
    min-width: 100%;
    height: 40vh;
    background-image: url('../../assets//serviceshero2.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    grid-column: 1 /3;
}

.input-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
    width: 70%;
    max-width: 550px;
}

.services-hero label{
    font-size: 1.5rem;
    text-shadow: 0px 0px 5px #131313;
    font-weight: 600;
}

.services-filter{
    margin-top: .65rem;
    border-radius: 5px;
    border: transparent;
    box-shadow: 0px 0px 5px #131313;
    padding: .75rem 1rem;
    width: 100%;
    
}

.search-suggestions{
    background: #fff;
    color: #1a2a6c;
    padding: 10px 20px;
    box-shadow: 0px 0px 5px #131313;
    display: none;
    position: absolute;
    width: 70%;
    max-width: 550px;
    z-index: 999;
}

.search-suggestions.active{
    display: block;
}


.suggestions{
    list-style: none;
}

.suggestion,
.categories-item{
    padding: .5rem;
    border-radius: 7px;
    cursor: pointer;
}

.suggestion:hover{
    background: #eaeaea;
}

.services-body{
    padding: 40px 40px;
    display: grid;
    grid-template: auto auto / 20% 75%;
    grid-column-gap: 1rem;
    margin: 0 auto;
    justify-content: space-between;
    color: #fff;
    
}

.categories{
    max-width: 100%;
    grid-column: 2 / 3;
}

.categories-sidebar{
    color: gray;
    margin: 0 auto;
}

.categories-sidebar.fixed{
    position: fixed;
    top:  12.5vh;
}

.sidebar-header{
    margin: 0 auto .5rem auto;
    margin-bottom: .5rem;
}

.categories-item:hover{
    background: #eaeaea;
}

.category{
    padding-top: 3.5rem;
   
}

.category-name, .sidebar-header{
    display: inline-flex;
    text-shadow: 0px 0px 3px #131313;
    padding: 0 .6rem .8rem .6rem;
    border-bottom: 3px solid #d7d7d7;
    color: #fff;
}

.category:nth-child(1){
    padding-top: 0;
}

.categories-items{
    list-style: none;
    font-weight: 600;
}

.category-services{
    display: grid;
    grid-template: auto auto / repeat(4, 1fr);
    grid-gap: .75rem;
    max-width: 100%;
    margin-top: 2rem;
}

.category-service{overflow: hidden  }

.category-service:hover{overflow: visible }

@media only screen and (max-width: 900px) {
    .category-services{
        grid-template: auto auto / repeat(3, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .services-body{
        padding: 20px;
    }
    .categories-sidebar{
        display: none;
    
    }

    .categories{
        grid-column: 1 / 3;
    }
}

@media only screen and (max-width: 550px) {
    .services-hero label {
        font-size: 1.25rem;
    }

    .search-suggestions{
        padding: 10px 7.5px;
    }
    #search-suggestions li, .services-filter{
        font-size: 12px;
        
    }
    #search-suggestions li{
        padding: .25rem;
    }
}

@media only screen and (min-width: 1500px) {
    .services-body{
        grid-template: auto auto / 20% 65%;
        justify-content: flex-start;
        grid-column-gap: 5%;
    }

    .categories {
        grid-column-gap: 5em;
    }

    .categories-sidebar {
        left: 7.5%;
    }

    .categories-items {
        margin: 0 auto;
    }

    .category-services{
        grid-template: auto auto / repeat(5, 1fr);
        
    }
}