

.home-container {
    padding-top: 2rem;
    color: #283c86;
    /* position: relative;
    top: 10vh; */
}

.introduction,
.popular-services-container {
    padding: 20px 40px;
}

.introduction{
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    display: grid;
    grid-template: auto auto / 72.5% 27.5%;
    grid-gap: 2em;
}

.heading{
    letter-spacing: 1px;
    line-height: 40px;
    font-size: 1.7rem;
    max-width: 90%;
    
    grid-column-start: 1;
    grid-column-end: 3;
}

.introduction img {
    width: 100%;
    height: 100%;
    max-height: 450px;
}

.introduction-body{
    font-size: 1rem;
    line-height: 20px;
    width: 42.5%; 
}

.popular-services-container{
    max-width: 1800px;
    margin: 4em auto 0 auto;
    
}

.popular-heading {
    padding: 15px 10px;
    border: 1px solid #eaeaea;
    display: inline-flex;
    border-radius: 7px;
    box-shadow: 0px 0px 10px #1a2a6c;
}

.popular-services {
    margin-top: 3em;
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    grid-gap: 1.5em;
}

.guarantees-container{
    /* background: #1a2a6c; */
    background: #ECE9E6;
    min-height: 550px;
    width: 100%;
    margin-top: 4em;
    padding: 50px 40px;
    /* color: #fff; */
    
}

.guarantees-body{

}


.contact-section {
    max-width: 1200px;
    margin: 1rem auto 0 auto;
}

.stars,
.guarantees-heading,
.guarantees-body{
    margin: 0 auto;
    max-width: 1800px;
}

.star {
    color: #fff;
    color: #283c86;
    margin-right: .5rem;
    font-size: 1.75rem;
    margin: 1rem auto 0 auto;
}

.guarantees-body{
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.guarantee{
    margin-top: 1.5rem;
}

.guarantee-title{
    font-weight: 600;
    font-size: 1.25rem;
}

.check-icon{
    width: 75px;
    margin-top: 3rem;
    align-self: flex-end;
}

.contact-section{
    /* min-height: 550px; */
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    padding: 150px 40px;
}

.contact-text{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.contact-text h2 {
    font-size: 1.75rem;
}

.contact-text p {
    justify-self: center;
    margin-top: 2rem;
    font-weight: 600;
    font-size: 1rem;
}

.phone-img{
    position: relative;
    top: -50px;
    width: 175px;
   z-index: 999;
}


@media only screen and (max-width: 1100px) {
    .introduction{
        grid-template: auto / 60% 40%;
    }

    .introduction-body {
        font-size: 1rem;
        width: 50%;
    }

    .introduction img {
        justify-self: flex-end;
        
    }

    
}

@media only screen and (max-width: 900px) {
    
    .introduction img {
        width: 100%;
        align-self: flex-end;
        max-height: 100%;
        
    }

    .introduction-body {
        width: 60%;
    }

    .popular-services-container{
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 550px) {
    .heading{
        font-size: 1.25rem;
        line-height: 25px;
    }
    .introduction{
        grid-template: auto auto / 100%;
    }

    .introduction img {
        height: 100%;
    }

    .introduction-body{
        font-size: .8rem;
        line-height: 16px;
        font-weight: 500;
        width: 90%;
        grid-column-start: 1;
    }

    .popular-services-container{
        margin-top: 1rem;
    }

    .popular-services {
        grid-template: auto auto / repeat(3, 1fr);
        grid-column-gap: .75rem;
    }

    .guarantee-title{
        font-size: .9rem;
    }

    .contact-text h2{
        font-size: .85rem;
        max-width: 125px;
    }

    .contact-text p {
        margin-top: 1.5rem;
        font-size: .75rem;
    }

    .phone-img{
        width: 100px;
    }

    .check-icon{
        width: 50px;
    }
}

@media only screen and (min-width: 1100px) {
    .stars,
    .guarantees-heading,
    .guarantees-body
     {
        padding: 0 40px;
    }
}

@media  only screen and (min-width: 1500px) {
    .popular-services-container {
        grid-template: auto auto repeat(6, 1fr);
        margin: 4em auto 0 auto;
    }

    .introduction{
        grid-template: auto auto / 62.5% 22.5%;
    }

    .popular-services{
        max-width: 80%;
    }
    
}