.navbar-container {
    box-shadow: 0px 0px 5px #131313;
    min-width: 100vw;
    max-width: 100vw;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: fixed;
    z-index: 5;
    background: #fff;
}

.navbar-brand {
   width: 20%;
   z-index: 5;
}

.navbar-brand img {
    width: 100%;
    z-index: 5;
}

.navbar-links {
    display: flex;
}

.navbar-link {
    text-decoration: none;
    color: #1a2a6c;
    margin-right: 2em;
    font-size: 1rem;
    padding: 10px 30px;
    border-radius: 15px;
    transition: ease-in-out 250ms;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    
}

.navbar-link:hover{
    background: #eaeaea;
}

.link-icon.hidden {
    opacity: 0;
}

.contact-btn {
    padding: 5px 25px;
    border-radius: 18px;
    border: none;
    font-size: .75rem;
    cursor: pointer;
    color: #2c3e50;
    background: #eaeaea;
    transition: ease-in-out 250ms;
    box-shadow: 0px 0px 5px #131313;
    font-weight: 600;
}

.contact-btn:hover{
    box-shadow: none;
    background: #1a2a6c;
    color: #fff;
}


@media only screen and (min-width: 900px) {
    .navbar-brand img {
        /* min-width: 60% */
    }

    .navbar-menu {
        display: none;
    }

    .navbar-link p {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1100px) {
    .navbar-brand {
        width: 15%;
    }

    .navbar-link {
        font-size: 1.1rem;
        
    }
}

@media only screen and (max-width: 900px) {
    .navbar {
        left: 25%
    }

    .navbar-brand {
        width: 35%;
    }

    .navbar-menu {
        display: block;
        z-index: 5;
        margin-bottom: .5em;
        cursor: pointer;
    }

    .menu-bar {
        height: 3px;
        background: navy;
        margin: 4px 0;
        width: 30px;
        transition: ease-in-out 200ms;
        border-radius: 15px;
    }

    .menu-bar.isactive {
        width: 20px;
        
    }
    
    .menu-bar:nth-child(1).isactive{
        transform: rotate(-45deg) translate(-8px, 6px);
        
    }
    
    .menu-bar:nth-child(2).isactive{
       opacity: 0;
    }
    
    .menu-bar:nth-child(3).isactive{
        transform: rotate(45deg) translate(-3px, -2px);
    }

    .hidden {
        display: none;
    }

    .navbar {
        position: absolute;
        background: #fff;
        right: 0;
        top: 0;
        left: 50%;
        bottom: 0;
        box-shadow: 0px 0px 5px #131313;
        /* background: green; */
        min-height: 100vh;
    }

    .navbar-links {
        position: relative;
        top: 10vh;
        display: block;
        text-align: center;
        padding: 0px 10px;
    }
    .navbar-link {
        border-radius: 8px;
        margin-right: 0;
        padding-bottom: .75rem;
        font-size: 1rem;
        padding: 10px;
        /* border-bottom: 1px solid #1a2a6c; */
        box-shadow: 0px 0px 5px #1a2a6c ;
    }

    .navbar-link:nth-child(2){
        margin-top: 1.5rem;
    }

    .contact-btn {
        padding:10px 25px;
        margin: 2em auto 0 auto;
    }
}

@media only screen and (max-width: 500px)  {
    .navbar-brand {
        width: 45%;
    }

    .navbar {
        left: 0;
    }

    .navbar-links {
        width: 90%;
        margin: 2em auto 0 auto;
    }

    .navbar-link {
        font-size: .9rem;
    }

    .contact-btn{
        /* font-size: .75rem; */
        margin-top: 2.5rem;
    }

    .menu-bar{
        width: 22.5px;
        height: 2px;
        margin: 3px 0;
    }

    .menu-bar:nth-child(1).isactive{
        transform: rotate(-45deg) translate(-8px, 6px);
    }

    .menu-bar:nth-child(3).isactive{
        transform: rotate(45deg) translate(0px, 1px);
    }
}

@media only screen and (max-width: 375px)  {
    .navbar-container {
        padding: 20px;
    }
    .navbar-brand {
        width: 50%;
    }

    .navbar-link {
        font-size: .75rem;
    }
    .menu-bar.menu-bar.isactive {
        
        height: 2px;
        width: 20px;
    } 
}

