
.footer-container {
    padding: 50px 40px;
    background: #ECE9E6;
    color: #1a2a6c;
    text-align: center;
    position: relative;
}

.trademark{
    font-size: .75rem;
}

.footer-icons{
    margin-top: 1rem;
    cursor: pointer;
}

.footer-logo img{
    width: 100px;
    margin-top: .5rem;
}

@media only screen and (max-width: 550px) {
    .footer-icons{
        font-size: .85rem;
    }
    .footer-logo img {
        width: 75px;
    }
}