* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter';
   scroll-behavior: smooth;
}

main {
  position: relative;
  top: 10vh;
  width: 100%;
  min-height: 90vh;
  
}

.display1-container{
  color: #1a2a6c;
  position: relative;
  bottom: 10vh;
  top: 0vh;
  overflow: hidden;
}

.display1-body{
  display: grid;
  grid-template: auto auto / 55% 35%;
  padding: 20px;
  justify-content: space-around;
  max-width: 1100px;
  margin: 0 auto auto;
  position: relative;
}

.display1-body p {
  width: 90%;
}

.display2-container{
  color: #283c86;
  overflow: hidden;
}

.display2-card{
  padding: 20px;
  background: #fff;
  box-shadow: 0px 0px 10px #131313;
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  top: -25vh;
  text-align: center;
}

.display2-intro {
  padding: 20px;
}


.display2-card h2{
  text-align: center;
}

.display2-card p {
  margin-top: .75rem;
  line-height: 25px;
  width: 90%;
  max-width: 900px;
  margin: .75rem auto 0 auto;
  text-align: left;
  
}

.display2-card img {
  margin: 1.5rem auto 0 auto;
}

.display2-body{
  position: relative;
  top: -25vh;
  max-width: 1100px;
  margin: 0 auto;
}

.display2-services{
  margin-top: 3rem;
}

.display2-services h2{
  margin-bottom: 1.5rem;
  padding-top: 1rem;
}

.display2-title{
  text-align: center;
  margin-bottom: 1rem;
  max-width: 90%;
}

.display2-footer{
  position: relative;
  top: -150px;
}

.feature-bar{
  margin-top: .5rem;
  height: 6px;
  width: 75%;
  max-width: 120px;
  background: linear-gradient(90deg, #2196F3 0%, #0071D4 35%, #1A2A6C 91%);
}

.benefits{
  max-width: 900px;
  width: 90%;
  margin: 1.5rem auto 0 auto;
  text-align: center;
  padding-bottom: 3em;
  color: #283c86;
}

.benefits-items{
  text-align: left;
}

.benefits-item{
  margin-top: 1rem;
}

.benefits h3 {
  font-size: 1.35rem;
  padding: 0 1.5rem .5rem 1.5rem;
  border-bottom: 4px solid #283c86;
  display: inline-flex;
  margin-bottom: 1rem;
}

span{
  font-weight: 700;
}

select, option{
  border: 1px solid #1a2a6c;
  padding: 0 1rem;
  border-radius: 0%;
  background: #fff;
  color: #283c86;
  border-radius: 4px;  
}

@media only screen and (max-width: 900px){
  .display1-body{
      display: grid;
      grid-template: auto auto / 40% 40%;
  }

  .display2-card{
    width: 90%;
  }

  .display2-card p{
    width: 95%;
  }
}

@media only screen and (max-width: 768px) {
  .display1-body{
      display: grid;
      grid-template: auto auto / 40% 30%;
  }

}

@media only screen and (max-width: 550px) {
  .display1-body{
      display: flex;
      flex-direction: column;
  }

  .display1-body p, .display1-body li {
    font-size: .75rem;
  }

  .display1-container h2 {
    font-size: 1.1rem;
  }

  .display2-title{
    font-size: 1.15rem;
    margin-bottom: 0;
    text-align: center;
    margin: 0 auto;
    max-width: 80%;
  }

  .display2-card{
    width: 95%;
  }

  .display2-card p {
    line-height: 16px;
  }

  .benefits{
    padding: 15px 0 15px 0;
  }

  .benefits h3 {
    font-size: 1rem;
  }

.benefits-items {
    font-size: .75rem;
}
}

@media only screen and (min-width: 1800px) {
  .display1-body {
    max-width: 1400px;
  }
}

/* Animations */
.scale-in-bottom {
	-webkit-animation: scale-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.scale-in-ver-center {
	-webkit-animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.scale-out-center {
	-webkit-animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.slide-in-top {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-out-top {
	-webkit-animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


@-webkit-keyframes scale-in-bottom {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
  }
  @keyframes scale-in-bottom {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
  }

  @-webkit-keyframes scale-in-ver-center {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-ver-center {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      opacity: 1;
    }
  }
  

  @-webkit-keyframes scale-out-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
  }
  @keyframes scale-out-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
  }

  @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

  @-webkit-keyframes slide-out-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
  }
  @keyframes slide-out-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
  }